:root {
  --primary-color: #28a745; /* Fresh green for primary actions */
  --secondary-color: #44e6ff; /* Vibrant teal for secondary actions */
  --background-color: #ffffff; /* Very light gray for background */
  --text-color: #343a40; /* Dark gray for text */
  --border-color: #ced4da; /* Light gray for borders */
  --highlight-color: #ffc107; /* Bright yellow for highlights and alerts */
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background-color);
  height: 100%;
  font-family: monospace;
}

.page-container {
  text-align: center;
  padding: 1%;
  position: relative;
}

.title-header {
  font-family: Georgia, "Times New Roman", Times, serif, Courier, monospace;
  font-size: 2.3rem;
  font-weight: bold;
  color: var(--text-color);
}

.todo-header {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 2%;
}

.contents-div {
  margin: 20px auto;
  font-size: large;
  font-weight: bold;
  width: 80%;
  /* max-width: 600px; */
  border-radius: 5px;
}

.warning-popup {
  position: absolute;
  top: 50%;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: var(--highlight-color);
  font-size: 15px;
  font-weight: bold;
  border: none;
}
