@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --primary-color: #03045e; /* Fresh green for primary actions */
  --secondary-color: #00b4d8; /* Vibrant teal for secondary actions */
  --background-color: #ffffff; /* Very light gray for background */
  --text-color: #0077b6; /* Dark gray for text */
  --border-color: #90e0ef; /* Light gray for borders */
  --highlight-color: #a2d2ff; /* Bright yellow for highlights and alerts */
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

.page-container {
  background-color: #ffffff;
  padding: 1%;
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 505px);
  position: relative;
}

.title-header {
  font-family: monospace;
  font-size: 2rem;
  /* text-align: left; */
  font-weight: bold;
  color: var(--text-color);
}

.todo-header {
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px 0 0 20px;
}

.contents-div {
  margin: 20px auto;
  font-size: large;
  font-weight: bold;
  width: 80%;
  text-align: center;
  /* max-width: 600px; */
  border-radius: 5px;
}

.warning-popup {
  position: absolute;
  top: 50%;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: var(--highlight-color);
  font-size: 15px;
  font-weight: bold;
  border: none;
}
