:root {
    --new-black: #1f2833; /* Dark blueish black */
    --light-orange: #66ffcc; /* Turquoise */
    --new-white: #eef5db; /* Pale greenish white */
    --light-brown: #9a8c98; /* Dusty lavender */
    --background-color: #e0e0e0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    background-color: var(--background-color);
    height: 100%;
    font-family: monospace;
  }
  
  .page-container {
    text-align: center;
    padding: 1%;
    position: relative;
  }

  .title-header {
    font-family: Georgia, "Times New Roman", Times, serif, Courier, monospace;
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--new-black);
  }

  .todo-header {
    width: 100%;
    background-color: var(--new-black);
    color: var(--light-orange);
    padding: 2%;
  }