:root {
  --new-black: #252422;
  --light-orange: #eb5e28;
  --new-white: #fffcf2;
  --light-brown: #ccc5b9;
}

* {
  margin: 0%;
  padding: 0%;
}

.page-container,
.upload-csv-div {
  height: 100%;
  width: 100%;
}

body,
html {
  height: 100vh;
  width: 100vw;
  font-family: monospace;
}

.page-container {
  text-align: center;
  border: 1px solid var(--new-black);
}

.csv-input-div {
  margin: auto;
  border: 1px solid var(--light-orange);
  width: 40%;
}

.upload-csv-div {
  border: 1px solid var(--new-black);
  padding: 10px;
}

.title-header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  display: inline-block;
  color: var(--new-black);
}

.input-file {
  background-color: aqua;
  margin: 20px;
}

.submit-csv-button {
  background-color: #eb5e28;
}
