:root {
  --new-black: #252422;
  --light-orange: #eb5e28;
  --new-white: #fffcf2;
  --light-brown: #ccc5b9;
}

* {
  margin: 0%;
  padding: 0%;
}

body,
html {
  height: 100vh;
  width: 100vw;
  font-family: monospace;
}

.page-container {
  text-align: center;
  padding: 5%;
}

.csv-input-div {
  margin: 20px auto;
  font-size: large;
  font-weight: bold;
  border: 3px solid var(--light-orange);
  width: 35%;
  border-radius: 5px;
}

.upload-csv-div {
  background-color:var(--new-black) ;
  border-radius: 5px;
  color: var(--light-brown);
  padding: 10px;
}

.title-header {
  font-family:Georgia, 'Times New Roman', Times, serif, Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  color: var(--new-black);
}
.input-file {
  background-color: var(--new-black);
  margin: 5%;
  border: 1px solid var(--light-brown);
  padding: 15% 5% 15% 5%;
  width: 58%;
  color: var(--new-white);
  cursor: pointer;
}

.submit-csv-button {
  background-color: #eb5e28;
  border-radius: 20px;
  border: none;
  width: 30%;
  height: 25px;
}

.csv-type-select{
    width: 50%;
    margin-top: 10px;
    padding: 5px;
}